<input type="file" accept=".xlsx" (change)="uploadFile($event)" multiple>
<ul>
  <li *ngFor="let name of uploadedFileNames">{{name}}</li>
</ul>

<button *ngIf="values.length > 0" (click)="clear()">Изчисти</button>
<table *ngIf="values.length > 0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Качена курова задача?</th>
      <th>Прегледани лекции</th>
      <th>Оценка</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of values">
      <td>{{student.id}}</td>
      <td [style]="'background-color: ' + (student.hasSubmittedAssignment ? '#26C485' : '#FF7477')">{{student.hasSubmittedAssignment ? 'Да' : 'Не'}}</td>
      <td [style]="'background-color: ' + (student.lecturesViewed.length ? '#26C485' : '#FF7477')">{{student.lecturesViewed.length}}</td>
      <td [style]="'background-color: ' + (student.grade && student.grade !== 2 ? '#26C485' : '#FF7477')">{{student.grade || 'n/a'}}</td>
    </tr>
  </tbody>
</table>
